body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(59, 59, 59)
}

#gamearea {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    gap: 20px;
}

.box {
    flex: 1;
    background-color: rgb(156, 155, 155);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
}

#player {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#player .selections {
    display: flex;
    gap: 32px;
    width: 100%;
    justify-content: center;
}
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.buttons {
    font-size: 16px;
    background-color: #efefef;
    border: none;
    border-radius: 25px;
    color: #424242;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 5px;
}

.imgs {
    width: 60px;
    height: auto;
    object-fit: contain;
}

.computer-score, .human-score {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

#results {
    margin-top: 20px;
    text-align: center;
}

.result {
    font-size: 18px;
    font-weight: bold;
}

.selections {
    flex-direction: row;
}